/*-- MAIN --*/
body {
    font-family: 'Cormorant SC', serif;
    background: #fafafa;
}

p {
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.jstf{
    text-align: justify;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.center{
    text-align: center;
    align-content: center;
    align-items: center;
}

/*-- NAVBAR --*/
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: #81b5a1 !important;
}


/* -- SIDEBAR --*/
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #81b5a1;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #94ccb8;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #72a390;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #94ccb8;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #6f9e8c;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6f9e8c;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #72a390;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #72a390;
}
a.article, a.article:hover {
    background: #72a390 !important;
    color: #fff !important;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.container-fluid{
    /*padding: 0 50px 0 50px; */
}
.textarea {
    min-height: 220px;
    resize: none;
}
.main-btn {
    background: #00b09c;
    border-color: #00b09c;
    color: #fff;
    font-size: 18px;
}
 .main-btn:hover {
    background: #00a491;
    color: #fff;
}


/*-- IMG FOTOS --*/
.img-prev{
    max-width: 100px;
}


/*-- FOOTER --*/
footer{
    background: #81b5a1 !important;
    padding: 35px;
}


/*-- DROPDOWN LIST --*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #E9E9E9;
    background-image: none;
}

/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: rgb(247, 247, 247);
    overflow: hidden;
    border-radius: .25em;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #47748b;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #f3f3f3;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #00a491;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}