/*-- MAIN --*/
body{
   font-family: 'Cormorant Garamond', serif;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Cormorant SC', serif;
   color: #81b5a1;
   letter-spacing: 3px;
}
p{
   font-size: 18px;
}
a{
   font-size: 22px;
   font-family: 'Cormorant SC', serif;

}
.jstf{
   text-align: justify;
}
.center{
   text-align: center;
   align-content: center;
}


/*-- LOADER --*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff;
}


/*-- HEADER --*/
#logo{
   margin: 0 auto;
   display: block;
   max-width: 400px;
   padding: 10px 25px 0 25px;
}


/*-- NAVBAR --*/
.navbar-header > button.navbar-toggle{
   background-color: #00b09c;
   border: none;
}
   .navbar-header > button.navbar-toggle > span.icon-bar{
      background-color: #fff;
   }
.navbar-header > button.navbar-toggle:hover{
   background: #00a491;

}
.navbar-header > button.navbar-toggle:focus{
   background-color: #81b5a1;
}
.navbar{
   margin-top: 10px;
   margin-bottom: 10px;
}
.navbar-default{
   background: #fff;
   border: none;
}
.navbar-nav {
   width: 100%;
   text-align: center;
}
.navbar-nav > li {
   float: none;
   display: inline-block;
   font-size: 20px;
   font-family: 'Cormorant SC', serif;
}
   .navbar-nav > li.activo{
      font-weight: 600;
      color: #81b5a1 !important;
   }
   .navbar-nav > li:hover{
      color: #000;
      font-weight: 600;
      transition: all .25ms
   }


/*-- CAROUSEL --*/
.box{
   width:100%;
   max-height: 500px;
}
.carousel-control.left{
   background-image: none;
}
.carousel-control.right{
   background-image: none;
}


/*-- BIENVENIDO --*/
section#bienvenido{
   padding: 50px;
}


/*-- TRABAJOS --*/
section#trabajos{
   background-color: #f3f3f3;
   padding: 35px;
}


/*-- CONTACTO--*/
section#contacto{
   background: transparent url(https://www.hollyspenglerphotography.co.uk/wp-content/uploads/2017/10/bottompic.jpg) no-repeat center center;
   padding: 35px;
   background-attachment: scroll;
   background-size: cover;

}
section#contactoPage{
   background: #fff;
   padding: 35px;
}
.contact-form {
   margin-top: 15px;
}
.contact-form .textarea {
   min-height: 220px;
   resize: none;
}
.form-control {
   box-shadow: none;
   border-color: #eee;
   height: 49px;
}
.form-control:focus {
   box-shadow: none;
   border-color: #81b5a1;
}
.form-control-feedback {
   line-height: 50px;
}
.main-btn {
   background: #00b09c;
   border-color: #00b09c;
   color: #fff;
   font-size: 18px;
}
.main-btn:hover {
   background: #00a491;
   color: #fff;
}
section#contactoPage > .form-control{
   border-color: #81b5a1;
}

/*-- SEPARATOR--*/
.separator{
   width: 100%;
   padding: 70px;
   background-attachment: fixed;
   background-color: #81b5a1 !important;
}


/*-- INFO --*/
section#info{
   padding: 50px 0 50px 0; 
}


/*-- FOOTER --*/
footer{
   background: #81b5a1 !important;
   padding: 35px;
}