body{
   background-color: #008970;
}

.login-block {
   float: left;
   width: 100%;
   padding: 50px 0;
}

.banner-sec {
   width: 100%;
   height: 100%;
   border-radius: 0 10px 10px 0;
   padding: 0;
}

.container {
   background: #fff;
   border-radius: 10px;
   box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
   border-radius: 0 10px 10px 0;
}
.login-sec {
   padding: 50px 30px;
   position: relative;
}

.login-sec .copy-text {
   position: absolute;
   width: 80%;
   bottom: 20px;
   font-size: 13px;
   text-align: center;
}

.login-sec .copy-text i {
   color: #008970;
}

.login-sec .copy-text a {
   color: #00A491;
}

.login-sec h2 {
   margin-bottom: 30px;
   font-weight: 800;
   font-size: 30px;
   color: #00A491;
}

.login-sec h2:after {
   content: " ";
   width: 100px;
   height: 5px;
   background: #00A491;
   display: block;
   margin-top: 20px;
   border-radius: 3px;
   margin-left: auto;
   margin-right: auto
}

.btn-login {
   background: #00A491;
   color: #fff;
   font-weight: 600;
}

.banner-text {
   width: 70%;
   position: absolute;
   bottom: 40px;
   padding-left: 20px;
}

.banner-text h2 {
   color: #fff;
   font-weight: 600;
}

.banner-text h2:after {
   content: " ";
   width: 100px;
   height: 5px;
   background: #FFF;
   display: block;
   margin-top: 20px;
   border-radius: 3px;
}

.banner-text p {
   color: #fff;
}